layout {
    focus-ring {
        active-color "{{colors.primary.default.hex}}"
        inactive-color "{{colors.outline_variant.default.hex}}"
    }
    border {
        on
        active-color "{{colors.primary.default.hex}}"
        inactive-color "{{colors.outline_variant.default.hex}}"
    }
}
